<!DOCTYPE html>
<html>
<head>
<title>Homepage</title>
</head>
<body>

<h1>WeCamp</h1>
<p>A web application that allows users 
    to search California State and National Parks 
    and find their perfect camping destinations!</p>

    <a id="create_account" href="/log_in">Log in</a>
    <!-- I can usee css to style link as a button or use JS -->
 
    <a id="create_account" href="/create_account">Create an account</a>

    <a id="direct_to_search" href="/search"> Search without an Account</a>


</body>
</html>
