{% extends 'base.html' %}

{% block body %}


  

  <style>


    #intro {
      background-image: url("/static/img/NPS_HOME.jpg");
      height: 100vh;
    }
    
  </style>

<div id="intro" class="bg-image shadow-2-strong">

<div class="container">
    <div class="row h-100 justify-content-center">
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </div>
  </div>
  
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4 p-3 mb-2 border border-warning bg-light">
        <div class="p-2 mb-3">
            <h1 class="text-center"><img src="/static/img/NPS_LOGO.png" 
              alt="" height="40" class="d-inline-block align-top"> WeCamp </h1>
            <p></p>
            <p></p>
            <h4 class="text-justify">A web application that allows users 
                to search our beautiful National Parks 
                and find their perfect camping destinations!</h4>
                <p></p>


    <a class="btn btn-lg p-3 w-100" role="button" id="create_account" href="/login_page">Login to your Account</a><br>
                <p></p>
    <a class="btn btn-lg p-3 w-100" role="button" id="create_account" href="/create_account">Create an Account</a><br>
                <p></p>
    <a class="btn btn-lg p-3 w-100" role="button" id="direct_to_search" href="/search"> Search without an Account</a>

</div>
</div>
    </div>
  </div>
</div>
{% endblock %}
