{% extends 'base.html' %}

{% block body %}

<div id ="header">
    <h1>Search the National Parks</h1>

      <p>A web application that allows users 
          to search California State and National Parks 
          and find their perfect camping destinations!
      </p>
      <br></br>
</div>

<div id = "form">

    <form id="state-form" >
        <label for="state">Choose a State by entering its 2 letter abreviation </label>
            <input type="text" id="US_state" name="state" placeholder="state">
            <br> </br>

        <label for="fees">Choose a Maximum Overnight Fee</label>
            <input type="text" id="max_fees" name="fees" placeholder="maximum fee">
            <br> </br>


        <p>Show only campsites with cell phone reception?</p>
            <input type="radio" id="yes_reception" name="phone_reception" value="yes"> 
                <label for="Yes">Yes</label><br>
            <input type="radio" id="no_reception" name="phone_reception" value="no">
                <label for="No">No</label><br>
            <input type="radio" id="both_reception" name="phone_reception" value="both">
                <label for="Both">Show both</label><br>
                <br></br>

        <p>Toilet preference?</p>
            <input type="radio"  name="toilet_type" value="portable"> 
                <label for="Vaulted Toilet">Vaulted / Portable Toilet</label><br>
            <input type="radio"  name="toilet_type" value="flush">
                <label for="Flush Toilets">Flush Toilets</label><br>
            <input type="radio"  name="toilet_type" value="both">
                <label for="Show campsites with both">Show campsites with both</label><br>
                    <br></br>
        
        <p>Display results with...</p>
        <input type="checkbox" id="reservable_campsites" name="reservable_campsites" value="reservable_campsites">
            <label for="reservable_campsites">Reservable Campsites</label><br>

        <input type="checkbox" id="first_come_campsites" name="first_come_campsites" value="first_come_campsites">
            <label for="first_come_campsites">First Come Campsites</label><br>

        <input type="checkbox" id="total_campsites" name="total_campsites" value="total_campsites">
            <label for="total_campsites">Total Number of Campsites</label>
        <br> </br>


  

        <input type="submit">
    </form>
</div>
<br></br>

<div id="results_list">
      <h3 id="campgrounds_header"></h3>
      <div id="campgrounds-go-here"></div>

</div>      
      <script src="static/fetch-app.js" defer></script>
      {% endblock %}